*{ margin: 0px;
	Font-family: courier;}
.main{
		
	Background-image: url('S1.jpg');
	Background-repeat: no-repeat;
	background-position: center;
	Background-attachment: fixed;
	Background-size: 100%;
	Height: 100%;
	Width: 100%;
	}

.Setup{
	Background-color: rgb(255,255,255,0.5);
	margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	margin-bottom: auto;
	}

.btn{
	font-size: 20px;
	font-color: red;
	border-color: Red;
	border-radius: 2px;
	background-color: Blue;
	transition-duration: 1s;
	}
.btn:hover{
	transition-timing-function:ease-out;
	transition-duration: 1s;
	Border-color: Blue;
	Background-color: Red;
	border-radius: 20px;
	}

	
td{
	font-size: 20px;
}