@keyframes M {
	from { width: 300px; }
	to { width: 100%; }
	}
@keyframes fadeIn {
		from { opacity: 0.5; }
		to { opacity: 1; }
}
	
#main{
	Background-color: rgb(0,0,255,0.5);
	Position:fixed;
	Width:100%;
	height:80px;
	transition-duration: 1s;
	}
#main:hover{
	Background-color: rgb(31,63,160,1);
	transition-duration: 2s;}

#main ul li{
	Width:230px;
	list-style: none;
	float:left;
	height: 30px;}

.btn{
	color: White;
	Background-color: Red;
	height: 40px;
	width: 100px;
	font-size: 20px;
	border-color: Blue;
	border-radius: 80px;
	transition-duration: 0.5s;
	}
.btn:hover{
	color: red;
	transition-duration: 1s;
	Border-color: Red;
	Background-color: Blue;
	}

.main{
	
	Background-image: url('S1.jpg');
	Background-repeat: no-repeat;
	background-position: center;
	Background-attachment: fixed;
	Background-size: 100%;
	Width:100%;
	min-Height:100%;	
}
table{
	margin-left:auto;
	margin-right:auto;
	}
.Content{
	Background-color: rgb(0,0,0,.1);
	transition-duration: 1s; 
	}
.Content:hover{
	Background-color: rgb(0,0,0,.7);
	transition-duration: 1s;
	}

.fonts1{
	font-size: 90px;
	font-style:oblique;
	color: Red;
	animation: fadeIn 1s;
}
.fonts2{
	font-size: 20px;
	font-style: Normal;
	color: White;
	animation: fadeIn 3s;
}
.fonts3{
	font-size: 70px ;
	font-style: Normal;
	color: White;
	animation: fadeIn 1s;
}
.fonts4{
	font-size: 30px ;
	font-style: Normal;
	color: White;
	animation: fadeIn 3s;
}
.content .Hide{
		transition-duration: 1s;
		display:none;
		overflow: hidden;
		}
.content:hover>.Hide{
		animation: M 1s;
		display: block;
}
.content .tab{
	display: none;
	transition: 2s;
	Background-image: url('S1.jpeg');
	Background-repeat: no-repeat;
	background-position: center;
	background-size:cover;

	}
.content .tab{
	display: block;
	animation: M 3s;
	}
.tab2{
	Background-image: url('S2.png');
	Background-repeat: no-repeat;
	background-position: center;
	background-size:cover;

	}

.tab3{
	Background-image: url('S3.jpeg');
	Background-repeat: no-repeat;
	background-position: center;
	background-size:cover;

	}